*,*::before,*::after{
    box-sizing: border-box;
}
html,
body {
    position: relative;
}
body {
    margin: 0;
}
h1 {
  font-size: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    /* ここは調整可能 ex: 400px -> 500px */
    max-width: 400px;

    /* 上下の2emは調節可能 左右のautoはそのままで */
    margin: 2em auto;
}

h1::before,h1::after {
    content: '';
    width: 95px;
    height: 2px;
    border-top: solid 2px;
    border-bottom: solid 2px;
}
